# Archivos de configuración local y secretos
# Es una buena práctica tener un archivo de ejemplo (ej. application-template.yml)
# y que cada desarrollador cree su `application.properties` o `application.yml` local.
application.properties
application.yml

# Logs
*.log
logs/

### Maven ###
target/
.mvn/

### IDEs y Editores ###
# IntelliJ
.idea/
*.iml

# VS Code
.vscode/
.history

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.metadata
bin/

### Node.js (si se usa para el frontend) ###
node_modules/
npm-debug.log
yarn-error.log

### Archivos temporales y de SO ###
tmp/
.DS_Store

# Mantener directorios vacíos en Git
!src/main/resources/.gitkeep
!src/test/resources/.gitkeep